@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@font-face {
  font-family: "Clash Display";
  src: url("../Styles/Fonts/clashDisplay/ClashDisplay-Variable.woff2")
      format("woff2"),
    url("../Styles/Fonts/clashDisplay/ClashDisplay-Variable.woff")
      format("woff"),
    url("../Styles/Fonts/clashDisplay/ClashDisplay-Variable.ttf")
      format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
