@import url("./customFonts.css");
@import url("./utility.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-smooth: always;
}

body {
  width: fit-content;
  margin-inline: 60px;
  font-family: "Clash Display";
  font-size: 18px;
}

header {
  margin-inline: 60px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1090px;
  height: 60px;
  font-size: 20px;
  position: relative;
  top: 40px;
}

nav #leftNav {
  display: flex;
  gap: 40px;
  align-items: center;
  height: 26px;
}

nav #logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav #links {
  align-items: normal;
  font-size: 20px;
}

nav #links ul {
  display: flex;
  gap: 24px;
  font-family: Clash Display;
  font-weight: 500;
  text-align: center;
}
nav #links li {
  list-style: none;
  cursor: pointer;
}
nav #links #active {
  font-weight: 700;
  color: #ff5555;
}

#headerMain {
  display: flex;
  margin-top: 20px;
  margin-bottom: 66px;
}

#leftMain {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 648px;
  margin-top: 115px;
}

#upper {
  margin-bottom: 18px;
}

#upper::after {
  content: "";
  width: 317px;
  height: 230px;
  position: absolute;
  top: -61px;
  left: 200px;
  background: linear-gradient(to bottom, #ff5555, #ff5555, #fde598, #fde598);
  border: none;
  border-radius: 50%;
  z-index: -2;
  filter: blur(30px);
}

#upper::before{
  content: url("/Images/StarBlack\ Small.svg");
  position: absolute;
  top: -80px;
  left: -90px;
}

#leftMain #upper h1 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: "Clash Display";
  font-size: 64px;
  line-height: 64px;
}

#leftMain #upper p {
  width: 630px;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.5;
  margin-bottom: 24px;
}

#btnGroup {
  display: flex;
  align-items: center;
  width: 374px;
  gap: 40px;
}

#arrow {
  padding-inline: 10px;
}

#watchBTN {
  display: flex;
  text-align: center;
  gap: 14px;
}

/* Lower */

#lower {
  position: relative;
  width: 569px;
  height: 358px;
  margin: 0;
  margin-left: 6px;
}

#lower::after {
  content: url("/Images/StarBlack\ Small.svg");
  position: absolute;
  top: 50px;
  left: 110px;
}

#lower #stripFirst #letterA {
  font-family: "Clash Display";
  font-weight: 700;
  position: absolute;
  left: -51px;
  margin: 0;
  color: #000;
  font-size: 103px;
  line-height: 72px;
}

#stripFirst {
  display: flex;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  width: 535px;
  height: 72px;
  position: absolute;
  top: 121px;
  transform: rotate(-28deg);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 3;
}

#stripFirst #achievement,
#finance {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#achievementText,
#financeText {
  font-family: "Clash Display";
  font-weight: 500;
  font-size: 12px;
  line-height: 8px;
}

#stripFirst #divider {
  align-content: center;
  margin-left: 10px;
  transform: rotate(-28deg);
}

#stripSecond {
  width: 353px;
  height: 72px;
  background-color: #ff5555;
  position: absolute;
  top: 129px;
  left: 199px;
  transform: skew(20deg);
  transform: rotate(-47deg);
  z-index: 2;
  border-radius: 8px;
}
#stripSecond::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -1px;
  right: 100px;
  top: -1px;
  bottom: 0;
  margin: 0;
  background-color: #fff;
  border-radius: 8px;
  clip-path: polygon(0 0, 17% -16%, -1% 119%);
  z-index: -1;
}
#stripSecond::after {
  content: "";
  position: absolute;
  top: 0;
  left: 19px;
  width: 90%;
  height: 100%;
  clip-path: polygon(0 250px, 0px 0, 100% 0, 100% 100%, 0 100%);
  transform: skew(-30deg);
  border-radius: 8px;
  background: #ff5555;
  z-index: -1;
}

#stripSecond p {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  height: 72px;
  line-height: 49px;
}

#stripThird {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  width: 256px;
  height: 72px;
  background-color: #ff5555;
  border-radius: 8px;
  position: absolute;
  bottom: 40px;
  right: 36px;
}
#stripThird #empty {
  border-right: 2px solid #000;
}

#stripThird #star {
  text-align: center;
  margin: auto 10px;
  transform: rotate(-45deg);
}

#stripThird #trial {
  border-left: 2px solid #000;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding-left: 10px;
}
#stripThird #trial p {
  font-size: 12px;
  margin: 3px;
}

#rightMain {
  position: relative;
  width: 442px;
  height: 645px;
}

#rightMain::after {
  content: "";
  width: 393px;
  height: 285px;
  position: absolute;
  bottom: -38px;
  left: 131px;
  background: linear-gradient(#ff5555, #ff5555);
  filter: blur(30px);
  border-radius: 50%;
  transform: rotate(-40deg);
  z-index: -1;
}

#rightMain::before{
  content: url("/Images/StarBlack\ Small.svg");
  position: absolute;
  bottom: -10px;
  left: 90px;
  transform: rotate(-45deg);
}
#phoneIMG {
  position: relative;
  left: -29px;
  top: 46px;
}

.phone {
  position: absolute;
  filter: drop-shadow(48px 48px 100px rgba(0, 0, 0, 0.2));
}
.phone1 {
  top: -16px;
  left: -22px;
  z-index: 3;
}
.phone2 {
  top: 64px;
  left: 97px;
  z-index: 2;
}
.phone3 {
  top: 132px;
  left: 221px;
  z-index: 1;
}

#ellipseBox {
  position: relative;
  top: 68px;
  left: 34px;
}

#ellipseBox::before{
  content: url("/Images/StarBlack.svg");
  position: absolute;
  top: -85px;
  right: -65px;
}
main{
  width: 100%;
}
#features {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 30px;
}

#featuresIMG {
  margin-right: 20px;
  position: relative;
}

#featuresIMG::before {
  content: "";
  width: 393px;
  height: 285px;
  position: absolute;
  top: 20px;
  left: 50px;
  background: linear-gradient(
    to bottom right,
    #fde598,
    #fde598,
    #ff5555,
    #ff5555
  );
  filter: blur(30px);
  border-radius: 50%;
  z-index: -1;
}
#featuresIMG::after {
  content: url("/Images/StarBlack\ Small.svg");
  position: absolute;
  top: 64px;
  left: -79px;
}

#featuresBody {
  width: 535px;
}

#featuresDetails {
  position: relative;
}

#featuresDetails::before {
  content: "";
  width: 150px;
  height: 200px;
  position: absolute;
  top: 90px;
  right: -111px;
  background: linear-gradient(to bottom, #ff5555 30%, #fde598 78%);
  overflow: hidden;
  filter: blur(30px);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: -2;
}

.listHead {
  display: flex;
  gap: 10px;
}

.listHead h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

#advantages,
#customization {
  display: flex;
  justify-content: center;
  margin-top: 66px;
  gap: 20px;
}

#advantages {
  position: relative;
  left: 40px;
}

#advantagesDetails,
#customizationDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#advantagesIMG {
  position: relative;
}

#advantagesIMG::after {
  content: "";
  width: 360px;
  height: 237px;
  position: absolute;
  bottom: 60px;
  left: 50px;
  background: linear-gradient(
    to bottom left,
    #ff5555,
    #ff5555,
    #ff5555,
    #fde598,
    #fde598
  );
  overflow: hidden;
  filter: blur(30px);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: -2;
}
#advantagesIMG::before {
  content: url("/Images/StarBlack.svg");
  position: absolute;
  top: 0;
  right: -98px;
}

#advantagesBody,
#customizationBody {
  width: 535px;
}

#advantagesBodyHead,
#customizationBodyHead {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

#advantagesBodyHead h2,
#customizationBodyHead h2 {
  font-size: 28px;
}

#advantagesIMG #phoneTop::after {
  content: "";
  width: 201px;
  height: 62px;
  background-image: url("../Images/advantages/On\ Hold.svg");
  position: absolute;
  top: 236px;
  right: 3px;
  transform: rotate(-15deg);
  filter: drop-shadow(#bbbbbb 2rem 2rem 3rem);
  border-radius: 8px;
}

#customization {
  position: relative;
  gap: 40px;
}

#customizationDetail {
  margin: auto 0;
  position: relative;
}

#customizationDetail::after {
  content: url("/Images/StarBlack.svg");
  position: absolute;
  bottom: -223px;
  right: 150px;
}

#customizationIMG {
  position: relative;
  /* right: 60px; */
}

#customizationIMG::after {
  content: "";
  width: 393px;
  height: 285px;
  position: absolute;
  bottom: 60px;
  left: 106px;
  background: linear-gradient(
    to bottom,
    #fde598,
    #fde598,
    #ff5555,
    #ff5555,
    #ff5555
  );
  overflow: hidden;
  filter: blur(30px);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: -2;
  transform: rotate(40deg);
}
#customizationIMG::before {
  content: url("/Images/StarBlack\ Small.svg");
  position: absolute;
  top: -47px;
  right: 0px;
}

#customizationIMG #phoneTop2::after {
  content: "";
  width: 260px;
  height: 159px;
  background-image: url("../Images/advantages/card.svg");
  position: absolute;
  top: 135px;
  left: 70px;
  transform: rotate(-15deg);
  filter: drop-shadow(#bbbbbb 2rem 2rem 3rem);
  border-radius: 8px;
}

#customizationBody {
  width: 550px;
}

#testimonial {
  position: relative;
  margin-top: 132px;
  left: 40px;
}

#testimonialHead {
  width: 445px;
  margin: 50px auto;
  text-align: center;
}

#testimonialHead h2 {
  color: #000;
}

#testimonialBody {
  display: flex;
  justify-content: center;
  gap: 94px;
  position: relative;
}

#testimonialBody::after {
  content: url("/Images/StarBlack\ Small.svg");
  position: absolute;
  bottom: -40px;
  left: -66px;
}

#testimonialDetails {
  width: 443px;
  margin: auto 0;
  position: relative;
}

#testimonialDetails h2 {
  margin-block: 20px;
  font-weight: 600;
}

#testimonialDetails #userName {
  font-size: 18px;
}

#testimonialIMG {
  position: relative;
}

#testimonialIMG::after {
  content: "";
  width: 327px;
  height: 237px;
  position: absolute;
  top: 136px;
  left: 34px;
  background: linear-gradient(to bottom, #ff5555, #ff5555, #fde598, #fde598);
  overflow: hidden;
  filter: blur(30px);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: -2;
}

#userPhoto {
  position: absolute;
  top: 58px;
  left: 47px;
  width: 440px;
  height: 426px;
  margin: 0;
}

.user {
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
}

#user1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#user1::before {
  content: url("../Images/FAQ/apostrophe.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  text-align: center;
  background-color: #ff5555;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  right: -35px;
  z-index: 2;
}

#user4 {
  top: 0;
  left: 0;
}

#user2 {
  top: 0;
  right: 0;
}

#user5 {
  bottom: 0;
  left: 0;
}

#user3 {
  bottom: 0;
  right: 0;
}

#testimonialVerified {
  display: flex;
  gap: 10px;
}

#FAQ {
  position: relative;
  margin: 0 auto;
  margin-top: 132px;
  width: fit-content;
  left: 40px;
}

#FAQ::before {
  content: url("/Images/StarBlack.svg");
  position: absolute;
  top: 99px;
  left: 55%;
}

#FAQHead {
  width: 497px;
}

#FAQDetails {
  display: flex;
  gap: 20px;
}

#FAQLeft,
#FAQRight {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#FAQRight::after {
  content: url("/Images/StarBlack.svg");
  position: absolute;
  bottom: -96px;
  right: -92px;
}

.FAQBox {
  width: 535px;
  height: 181px;
  padding: 0px 30px;
  color: #000;
}

.FAQBox p {
  opacity: 1;
}

#FAQLeft .FAQBox:nth-child(odd),
#FAQRight .FAQBox:nth-child(even) {
  color: #fff;
  border-radius: 8px;
  background-color: #ff5555;
}

#getStarted {
  position: relative;
  overflow: visible;
  z-index: 1;
  left: 40px;
  > #getStartedOuter {
    > #getStartedBody {
      width: fit-content;
      height: 508px;
      margin: auto;
      margin-top: 132px;
      color: #fff;
      background-color: #000000;
      display: flex;
      align-items: center;
      border-radius: 8px;
      position: relative;
      overflow: hidden;
      > #getStartedDetails {
        width: 547px;
        margin: auto 20px;
        position: relative;
        left: 51px;
        z-index: 0;
      }
      > #getStartedDetails p {
        font-weight: 400;
        opacity: 1;
      }
      > #getStartedDetails button {
        width: 208px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        color: #000;
        background-color: #fff;
      }

      > #getStartedDetails::before {
        content: url("/Images/StarWhite.svg");
        position: absolute;
        top: -96px;
        right: -92px;
      }
      > #getStartedDetails::after {
        content: "";
        width: 719px;
        height: 719px;
        background: url("../Images/getStarted/Ellipse.svg");
        position: absolute;
        top: 36px;
        right: 246px;
        z-index: -1;
      }

      > #getStartedIMG {
        width: 500px;
        height: 460px;
        display: flex;
        position: relative;
        z-index: 1;
        > #getStartedPhone1 {
          position: absolute;
          left: 0px;
          top: 82px;
          z-index: 3;
        }
        > #getStartedPhone2 {
          position: absolute;
          right: 70px;
          top: 55px;
          z-index: 2;
        }
        > #getStartedPhone3 {
          position: absolute;
          right: 0;
          z-index: 1;
        }
      }
      > #getStartedIMG::before {
        content: "";
        width: 719px;
        height: 719px;
        background: url("../Images/getStarted/Ellipse.svg");
        position: absolute;
        bottom: 13px;
        left: 143px;
        z-index: -1;
      }

      > #getStartedIMG::after {
        content: url("/Images/StarWhite\ Small.svg");
        width: 48px;
        height: 48px;
        position: absolute;
        bottom: 74px;
        left: -183px;
      }
    }

    > #getStartedBody::after {
      content: "";
      width: 327px;
      height: 237px;
      position: absolute;
      bottom: 115px;
      right: 0px;
      background: linear-gradient(to bottom, #fde598 -100%, #ff5555 100%);
      filter: blur(30px);
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      transform: rotate(40deg);
    }
  }
  > #getStartedOuter::before {
    content: "";
    width: 327px;
    height: 237px;
    position: absolute;
    top: -66px;
    left: 0px;
    background: linear-gradient(to bottom, #ff5555, #ff5555, #fde598, #fde598);
    filter: blur(30px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: -1;
  }
  > #getStartedOuter::after {
    content: url("/Images/StarBlack\ Small.svg");
    position: absolute;
    top: 130px;
    left: -65px;
  }
}

footer {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 92px;
  margin: 0 auto;
  margin-top: 132px;
  position: relative;
  left: 40px;
  border-radius: 8px;
  > #footerUpper {
    display: flex;
    justify-content: center;
    gap: 65px;
    > .linksList {
      display: flex;
      flex-direction: column;
      gap: 16px;
      list-style: none;
      font-size: 16px;
      font-weight: 500;
      > li:nth-child(1) {
        font-size: 32px;
      }
    }
    > ul:last-of-type li:last-of-type {
      width: 340px;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      padding: 5px;

      > button {
        width: 160px;
      }
      > input {
        width: 170px;
        height: 100%;
        padding-left: 20px;
        font-family: "Clash Display";
        font-size: 16px;
        border: none;
        outline: none;
      }
    }
  }
  > :nth-child(1) li {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  > #footerLower {
    display: flex;
    flex-direction: column;

    height: 104px;

    > p {
      margin: 0;
      height: 100%;
      font-size: 16px;
      opacity: 1;
      align-content: center;
      text-align: center;
      border-top-width: 1px;
      border-top-style: solid;
      border-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.75),
          rgba(0, 0, 0, 0)
        )
        1;
    }
  }
}
